{% extends 'layout.html' %}

{% block body %}
<style media="screen">
  body{
    direction: rtl;
  }
  .content{
    border: 2px solid #ccc!important;
    border-radius: 16px;
        padding: 0.01em 16px;
  }
</style>
  <h1 style="text-align:center">טופס הסכמה</h1>
  <h3 style="text-align:center">במחקר בנושא היבטי אבטחה ופרטיות באפליקציות אבטחה </h3>
  <div class="content">
    <p></p>
    <b>1. על המחקר </b>
    <p style="margin-right:1rem">מטרת המחקר להבין את התפיסות וקבלת ההחלטות של משתמשים בעת מתן גישה למידע במכשיר. הניסוי כולל הרשמה למערכת, אישור השתתפות לאחר הסבר קצר על הניסוי ומענה על סקר הכולל הצגת סט של אפליקציות בליווי של שאלות. בנוסף, מענה על שאלון דמוגרפי ותפיסות  כללי. לאורך הניבוי המערכת תתעד את התשובות לשאלות השונות שיוצגו למשתתף.</p>
    <b>2. תנאי השתתפות</b>
    <p style="margin-right:1rem">אוכלוסיית המשתתפים במחקר הם</p>
    <p style="margin-right:2rem">•	בני 18 לפחות שברשותם מכשיר סלולרי עם מערכת הפעלה 6+ Android</p>
    <p style="margin-right:2rem">•	סטודנטים במכללה להנדסה סמי שמעון</p>
    <b>3.	אופי הניסוי </b>
    <p style="margin-right:1rem">•	הנסיין ירשם לאתר בו יבצע הסקר ויאשר את השתתפותו</p>
    <p style="margin-right:1rem">•	הנסיין עונה על שאלות במהלך הניסוי</p>
    <p style="margin-right:1rem">סה"כ התשלום עבור ההשתתפות בניסוי יינתן במעמד סיום הניסוי (לפרטי התשלום המלאים יש לפנות לפרק 5)</p>
    <p style="margin-right:1rem"> •	אופן השימוש המלא, יוצג בדף הקבלת ההסכם הראשוני.</p>
    <b>4.	שגרת הניסוי</b>
    <p style="margin-right:1rem">הניסוי ייערך ברצף תוך מילוי השלבים הבאים:</p>
    <p style="margin-right:1rem; text-decoration: underline;">בזמן ההרשמה</p>
    <p style="margin-right:2rem">•	הנסיין יוכל ליצור קשר למענה על שאלות עם מנהל הניסוי. הנסיין יקבל את ההנחיות ייקרא ויחתום על המסמכים הנדרשים, לאחר שהוא מבין את מהלך הניסוי ומאפשר לעשות שימוש בתוצאותיו לצרכי	מחקר </p>
    <p style="margin-right:3rem">o	הנסיין יבצע את הרישום באתר ו יוודא קבלת מייל הרשמה ראשוני</p>
    <p style="margin-right:3rem">o	מפעילי האתר יבצעו התאמת הנסיין לסוג הניסוי הדרוש</p>
    <p style="margin-right:3rem">o	הנסיין יוודא קבלת מייל עם אישור השתתפות והסבר כניסה למערכת </p>
    <p style="margin-right:3rem">o	מפעילי הניסוי יוודאו שהנסיין מבין את האפשרויות השונות לשימוש באתר</p>
    <p style="margin-right:3rem">o	 מפעילי הניסוי יוודאו גם מצד השרת שאכן ההרשמה הסתיימה בהצלחה ו הנתונים נשמרו בהצלחה בטבלאות ה SQL המתאימות.  </p>
    <p style="margin-right:1rem; text-decoration: underline;"> במהלך הניסוי</p>
    <p style="margin-right:2rem"> •	הנסיין יענה על השאלות באתר לכל מסך אפליקציה שמוצג</p>
    <p style="margin-right:2rem">•	מפעילי הניסויי ייעקבו אחר אופן השימוש באתר, על ידי ניטור בצד השרת, אם
נתקבלו רשומות חדשות של שימוש באתר ופלט סופי של התשובות שנבחרו על ידי כל משתתף </p>
    <p style="margin-right:2rem"> •	במידה ויימצא שהנסיין לא משתמש באתר (לא מופיעה הרשמה ו תשובות סופיות מצידו) והוא לא מממש את ההשתתפות שלו בניסוי, ייקבל הנסיין הודעת בקשה להשתתף בסקר ובמידה ולא יענה על השאלות, תופסק השתתפות הנסיין ולא יועבר תשלום עבור ההשתתפות. </p>
    <p style="margin-right:1rem; text-decoration: underline;"> בסיום הניסוי</p>
    <p style="margin-right:2rem"> •	מפעילי הניסוי יוודאו שכל השאלות מולאו על ידי הנסיין, כדי להעביר את התשלום.</p>
    <b>5.	תשלומים</b>
    <p style="margin-right:1rem;>כפיצוי על הזמן שהשקיע הנסיין במחקר ומילוי כל השאלות, יקבל תשלום על סה"כ 40 ₪ תמורת הניסוי שאורכו כ 40 דקות או כ 50 ₪ תמורת ניסוי שאורכו כ 30 דקות. </p>


    <b style="text-align:center"> הצהרות הנסיין וחתימה</b>
    <p style="margin-right:1rem;> אני מצהיר בזה כי אני מסכים להשתתף במחקר בנושא "בנושא היבטי אבטחה ופרטיות באפליקציות אבטחה".</p>
    <p style="margin-right:2rem"> •	אני מצהיר בזה כי הוסברו לי מטרות המחקר ושיטת המחקר (באופן כללי). </p>
    <p style="margin-right:2rem">•	אני מודע כי ייתכן סיכון למשתתפים אם המידע הנאסף במהלך המחקר ייחשף </p>
    <p style="margin-right:2rem">   משרתי המכללה. כדי למזער סיכון זה, החוקרים עושים שימוש בתקנים המקובלים בתעשייה להגנה על המידע של המשתמשים, ובכללם הצפנת המידע, אבטחת השרתים, והסתרת זהותם של המשתתפים במחקר. עם זאת, אני מצהיר כי אני מודע לסיכון וכי המכללה או החוקרים מטעמה אינם אחראים לחשיפת המידע או לנזק שייגרם כתוצאה מחשיפת המידע. </p>
    <p style="margin-right:2rem"> •	אני חופשי לבחור שלא להשתתף במחקר ואני חופשי להפסיק בכל עת את  השתתפותי בניסוי</p>
    <p style="margin-right:2rem"> •	החוקרים מתחייבים למחוק כל מידע שנאסף במהלך המחקר אם אבקש זאת על ידי  פנייה לחוקרים</p>
    <p style="margin-right:2rem"> •	מובטחת לי סודיות באשר לזהותי האישית בפרסומים מדעיים. כמו כן, כל מידע שיפורסם כתוצאה מהמחקר יוצג בצורה מסוכמת עבור קבוצה של משתתפים במחקר. עם זאת, אני מודע כי הצגת המידע בצורה מסוכמת עדיין לא מגינה על המידע האישי בצורה מושלמת. </p>
    <p style="margin-right:2rem">•	מובטחת לי נכונות לענות לשאלות שיועלו על-ידי ואפשרות להיוועץ בגורם נוסף באשר לקבלת החלטה להשתתף במחקר או להמשיך בו. לשאלות נוספות, נא ליצור קשר עם ד"ר הדס חסידים, בטלפון 08-6475889 אימייל: hadasch@sce.ac.il</p>
    <p style="margin-right:2rem"> •	אני מצהיר בזה כי את הסכמתי נתתי מרצוני החופשי וכי הבנתי את כל האמור לעיל</p>
    <p></p>
  </div>
  <p></p>
  <form  action="" method="POST">
    <input type="checkbox" id="myCheck" name="myCheck"> קראתי ואני מסכים להשתתף
    <br>
    <input type="submit" class="btn btn-success  pull-left" value="אישור"  >
  </form>
  <br><br><br>




{% endblock %}
