{% extends 'layout.html' %}

{% block body %}
<style media="screen">
  .w_50{
    width:49%;
    display: inline-block;
  }
  .border{
    padding-bottom: 2rem;
    border-bottom :3px solid black;
  }

</style>
<h1>Edit appliction</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form action="" method="POST" enctype=multipart/form-data>
  <div class="form-group">
    {{ render_field(form.realName, class_="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.falseName, class_="form-control") }}
  </div>
  <div class="form-group border">
    <label for="categoryId">Category</label>
    <select class="form-control" id="categoryId" name="categoryId">
      <option {% if categoryId == 1 %} selected {% endif %} value="1">בטיחות גבוהה ופרטיות גבוהה</option>
      <option {% if categoryId == 2 %} selected {% endif %} value="2">בטיחות גבוהה ופרטיות נמוכה</option>
      <option {% if categoryId == 3 %} selected {% endif %} value="3">בטיחות נמוכה ופרטיות גבוהה</option>
      <option {% if categoryId == 4 %} selected {% endif %} value="4">בטיחות נמוכה ופרוטיות נמוכה</option>
    </select>
    </div>
  <h2>First part</h2>
  <div class="form-group">
    {{ render_field(form.method1image, class_="form-control") }}
  </div>
  {% if privacyFacts!= [] %}
    <h3 for="" style="display:inherit">Please select the privacy level(first part!):</h3>
  {% endif %}
  <div class="form-group">
    {% for privacyFact in privacyFacts %}
      <div class="form-group w_50">
        <label class="w_50 ">{{privacyFact.name}} ----></label>
        <select class="form-control w_50 " id="privacy{{privacyFact.id}}" name="privacy{{privacyFact.id}}"">
          {% for rankPrivacy in rankPrivacies %}
            <option value={{rankPrivacy.id}}>{{rankPrivacy.name}}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
  </div>
  {% if securtyFeatures!= [] %}
  <h3 for="" style="display:inherit">Please select the security level(first part!):</h3>
  {% endif %}
  <div class="form-group border">
    {% for securtyFeature in securtyFeatures %}
      <div class="form-group w_50">
        <label class="w_50 ">{{securtyFeature.name}} ----></label>
        <select class="form-control w_50 " id="securty{{securtyFeature.id}}" name="securty{{securtyFeature.id}}">
          {% for rankSecurty in rankSecurties %}
            <option value={{rankSecurty.id}}>{{rankSecurty.name}}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
  </div>

  <h2>Second part</h2>
  <div class="form-group">
    {{ render_field(form.method2image, class_="form-control") }}
  </div>

  {% if privacyFacts!= [] %}
    <h3 for="" style="display:inherit">Please select the privacy level(second part!):</h3>
  {% endif %}
  <div class="form-group">
    {% for privacyFact in privacyFacts %}
      <div class="form-group w_50">
        <label class="w_50 ">{{privacyFact.name}} ----></label>
        <select class="form-control w_50 " id="privacy{{privacyFact.id}}" name="privacy{{privacyFact.id}}"">
          {% for rankPrivacy in rankPrivacies %}
            <option value={{rankPrivacy.id}}>{{rankPrivacy.name}}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
  </div>
  {% if securtyFeatures!= [] %}
  <h3 for="" style="display:inherit">Please select the security level(second part!):</h3>
  {% endif %}
  <div class="form-group">
    {% for securtyFeature in securtyFeatures %}
      <div class="form-group w_50">
        <label class="w_50 ">{{securtyFeature.name}} ----></label>
        <select class="form-control w_50 " id="securty{{securtyFeature.id}}" name="securty{{securtyFeature.id}}">
          {% for rankSecurty in rankSecurties %}
            <option value={{rankSecurty.id}}>{{rankSecurty.name}}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
  </div>


  {% if securtyFeatures|length!=0 %}

      <div class="form-group my_mark">
        <label for="Fitzars">Number of securty feature:</label>
        <select class="form-control Fitzars">
          <option value="0">0</option>
          {% for securtyFeature in securtyFeatures %}
          <option value="{{securtyFeature.id}}">{{securtyFeature.id}}</option>
          {% endfor %}
        </select>
        <br>
        <input class="btn btn-primary btn-Fitzars" type="button" value="ok">
      </div>
    {%endif%}
  <p><input class="btn btn-secondary addApp pull-right" disabled type="submit" value="Edit appliction"></p>

</form>
<script>
  var firstTime=true;
  $(".btn-Fitzars" ).click(function() {
    if(firstTime)
      firstTime=false;
    else
      if(!confirm('נתוני הפיצרים ימחקו האם להמשיך?'))
        return;
    $( ".newFitzars" ).remove();
    $( ".fitzarName" ).remove();
    var $value=  $( ".Fitzars" ).val();
    var $i;
    for ($i = 0; $i < $value; $i++){
      var $t='<div class="form-group fitzarName "><label class="w_50 fitzarName1">Name of the feature</label><label class="w_50 fitzarName2">Enter image</label><select class="form-control w_50" id=fitzarName name=fitzarName>{% for  securtyFeature in securtyFeatures %}<option value={{securtyFeature.name}}>{{securtyFeature.name}}</option>{% endfor %}</select><input style="display:inline-block" class="form-control w_50" id="newFitzarsImage" name="newFitzarsImage" type="file"></div>'
      $($t).insertAfter( ".my_mark" );
      var $t='Name of the feature '+($value - $i);
      $( ".fitzarName:first label:first").text($t);
    }
    $(".addApp" ).removeClass('btn-secondary').addClass('btn-success').prop("disabled", false);
    });
</script>
{% endblock %}
